@model CodeHB.HealthUnitsPoa.Web.Models.Route

@{
    ViewBag.Title = "Rota";
    TempData["startAddress"] = Model.StartAddress;
}
    


<input type="hidden" id="startAddress" value="@Model.StartAddress" />
<input type="hidden" id="endAddress" value="@Model.EndAddress" />  

<div class="panel">
    
    <div class="panel-heading">        
        <h6><b>Origem:</b> @Model.StartAddress</h6>
        <h6><b>Destino:</b> @Model.EndAddress</h6>   
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <div id="map-canvas" style="height: 400px; width: 600px; margin:15px"></div>
        
            </div>
            <div class="col-sm-6">
                <div id="trajeto-texto" style="max-height: 400px; width: 600px; margin:15px"></div>
            </div>
        </div>
    </div>
      
    <div class="panel-footer">
        @Html.ActionLink("Retornar", "Index", null, new { @class = "btn btn-default" })
    </div>
</div>   


<script src="~/Scripts/RouteMap.js"></script>


