@model IEnumerable<CodeHB.HealthUnitsPoa.Web.Models.Record>

@{
    ViewBag.Title = "Lista Unidades saúde POA";
}

<h3>Lista Unidades saúde POA</h3>

@using (Html.BeginForm("ListUnits", "HealthUnits"))
{
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })     
       
        <input Value="@TempData["startAddress"]" id="startAddress" name="startAddress" type="text" value="" class="form-control col-lg-1" placeholder="Informe seu endereço" required="required" />
                

        @Html.ValidationMessage("startAddress", "", new { @class = "text-danger" })
        <input type="submit" value="Buscar" class="btn btn-primary" />
        <hr />
    </div>
}

@if (TempData["startAddress"] != null)
{


    <table class="table table-striped table-condensed table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TipoEmergencia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipoInstitucao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayName("Rota")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Endereco)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.Longitude)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Latitude)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.LinkPt)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.LinkEn)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LinkEs)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.EspecialidadePt)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.EspecialidadeEn)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EspecialidadesEs)
                    </th>*@
                @*<th></th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoEmergencia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoInstitucao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.ActionLink("Ver rota", "GetRoute", new { startAddress = TempData["startAddress"], endAddress = item.Endereco }, new { @class = "btn btn-primary btn-xs" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Endereco)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Longitude)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Latitude)
                        </td>*@
                    <td>
                        <a class="btn btn-xs btn-success" href="@item.LinkPt">Ver site</a>
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.LinkEn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LinkEs)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.EspecialidadePt)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.EspecialidadeEn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EspecialidadesEs)
                        </td>*@
                    @*<td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>*@
                </tr>
            }
        </tbody>
    </table>

}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>

    //jQuery(document).ready(function ($) {
    //    $(".table").hide();

    //});


    $(".btn-buscar").click(function () {
        $(".table").show();
    });


</script>
