@model IEnumerable<CodeHB.HealthUnitsPoa.Web.Models.Record>

@{
    ViewBag.Title = "Lista Unidades saúde POA";
}

<h3>Lista Unidades saúde POA</h3>

@using (Html.BeginForm("ListUnits", "HealthUnits"))
{
    <fieldset>
        <div class="campos">
            <label for="txtEndereco">Endereço:</label>
            @*<input type="text" id="txtEndereco" name="txtEndereco" />*@
            <input Value="@TempData["startAddress"]" id="startAddress" name="startAddress"  type="text" value="" placeholder="Informe seu endereço" required="required" />
            @*<input type="button" id="btnEndereco" name="btnEndereco" value="Mostrar no mapa" />*@
           @Html.ValidationMessage("startAddress", "", new { @class = "text-danger" })
            <input type="submit" value="Buscar" class="btn btn-primary btnAddress" />
        </div>  

        <input type="hidden" id="txtLatitude" name="txtLatitude" />
        <input type="hidden" id="txtLongitude" name="txtLongitude" />
    </fieldset>
    @*<div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <input Value="@TempData["startAddress"]" id="startAddress" name="startAddress" type="text" value="" class="form-control col-lg-1" placeholder="Informe seu endereço" required="required" />


        @Html.ValidationMessage("startAddress", "", new { @class = "text-danger" })
        <input type="submit" value="Buscar" class="btn btn-primary" />
        <hr />
    </div>*@
}

@if (TempData["startAddress"] != null)
{


    <table class="table table-striped table-condensed table-bordered">
        <thead class="alert-info">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Distance)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipoEmergencia)
                </th>                
                <th>
                    @Html.DisplayNameFor(model => model.TipoInstitucao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayName("Rota")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Endereco)
                </th>               
                <th>
                    @Html.DisplayNameFor(model => model.LinkPt)
                </th>               
                <th>
                    @Html.DisplayNameFor(model => model.EspecialidadePt)
                </th>               
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-left">
                        @Html.DisplayFor(modelItem => item.Distance) km
                    </td>
                    <td class="text-center"> 
                        @Html.DisplayFor(modelItem => item.TipoEmergencia)
                    </td>                   
                    <td  class="text-center">
                        @Html.DisplayFor(modelItem => item.TipoInstitucao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td class="text-center">
                        @Html.ActionLink("Ver rota", "GetRoute", new { startAddress = TempData["startAddress"], endAddress = item.Endereco }, new { @class = "btn btn-warning btn-xs" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Endereco)
                    </td>                   
                    <td class="text-center">
                        <a class="btn btn-xs btn-success" href="@item.LinkPt">Ver site</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EspecialidadePt)
                    </td> 
                                       
                </tr>
            }
        </tbody>
    </table>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/RouteMap.js"></script>
<script src="~/Scripts/jquery-ui.custom.min.js"></script>

<script>

    function CalculaDistancia(origem, destino) {
        alert("\dx\z");
        var service = new google.maps.DistanceMatrixService();
        service.getDistanceMatrix(
            {
                origins: [origem],
                destinations: [destino],
                travelMode: google.maps.TravelMode.DRIVING
            }, callback);
    }
    function callback(response, status) {
        if (status == google.maps.DistanceMatrixStatus.OK) {
            alert("Distância:" + response.rows[0].elements[0].distance.text);
            alert("Duração:" + response.rows[0].elements[0].duration.text);
        }
    }


    $(".btn-buscar").click(function () {
        $(".table").show();
    });


</script>
